@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Evolventa";
  src: url(../media/fonts/Evolventa-Bold.ttf);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body, html {
  font-size: 0.0520833333vw;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1540rem;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  z-index: 12;
  padding: 20rem 0;
  top: 0;
  left: 0;
  background: white;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-nav {
  display: flex;
  align-items: center;
  gap: 16rem;
  width: 588rem;
}
header .header-nav:last-child {
  justify-content: flex-end;
}
header .header-nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  text-align: center;
  color: #262628;
  display: flex;
  align-items: center;
  gap: 5rem;
}
header .header-nav a.line {
  border-right: 1rem solid #e3c49b;
  padding-right: 16rem;
}
header .header-nav a svg {
  width: 20rem;
  height: 20rem;
}
header .logo {
  width: 220rem;
  position: relative;
}
header .logo img {
  width: 100%;
}
header .select-item {
  position: relative;
}
header .select-item.active .select-item-btn {
  max-height: 500rem;
  overflow-y: scroll;
  padding: 10rem 5rem;
}
header .select-item-top {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 4rem 8rem;
  min-height: 25rem;
  background: #f2efed;
  cursor: pointer;
}
header .select-item-top p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  text-align: center;
  color: #262628;
}
header .select-item-top svg {
  max-width: 12rem;
}
header .select-item-btn {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  background: #f2efed;
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  transition: all 0.4s ease;
}
header .select-item-btn p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  text-align: center;
  color: #262628;
  padding: 5rem 0;
  border-bottom: 1rem solid #262628;
  cursor: pointer;
}
header .select-item-btn p:last-child {
  border-bottom: none;
}
header .header-search {
  position: relative;
}
header .header-search input {
  width: 53rem;
  transition: all 0.4s ease;
}
header .header-search input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  color: #262628;
}
header .header-search input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  color: #262628;
}
header .header-search .search-loop {
  position: absolute;
  transform: translateX(-100%) translateY(-50%);
  top: 50%;
  left: 0;
  transition: all 0.4s ease;
}
header .header-search.active {
  position: relative;
}
header .header-search.active input {
  width: 250rem;
  padding: 7rem 30rem;
  border-bottom: 1rem solid #acb2b9;
}
header .header-search.active .search-loop {
  left: 6rem;
  top: 50%;
  transform: translateY(-50%);
}
header .header-search.active .header-search-inp-r {
  max-width: 100rem;
}
header .header-search-inp-r {
  max-width: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  gap: 6rem;
}
header .header-search-inp-r svg {
  width: 16rem;
  height: 16rem;
  cursor: pointer;
}
header .header-search-inp-r button {
  padding: 4rem 8rem;
  background: #f2efed;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  text-align: center;
  color: #262628;
  cursor: pointer;
}
header .header-card {
  cursor: pointer;
  position: relative;
}
header .header-card.noEmpty::after {
  content: "";
  display: block;
  width: 10rem;
  height: 10rem;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: 10rem;
}
header .header-card.noEmpty::before {
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  background: #ff582f;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  left: 11rem;
  z-index: 2;
}

.hero {
  position: relative;
  margin-top: 89rem;
}
.hero .container {
  padding: 215rem 0 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
.hero .container h1 {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 42rem;
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
  color: #f8fafd;
  text-shadow: 0 4rem 13rem 0 rgba(0, 0, 0, 0.25);
  max-width: 670rem;
}
.hero .container p {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 28rem;
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
  color: #f8fafd;
  margin-bottom: 40rem;
  text-shadow: 0 4rem 13rem 0 rgba(0, 0, 0, 0.25);
}
.hero .container a {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  padding: 16rem 48rem;
  background: #f8fafd;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 17rem;
  text-transform: uppercase;
  color: #3d3f46;
}
.hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36rem;
  line-height: 130%;
  color: #262628;
}

.perehod {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 17rem;
  text-transform: uppercase;
  color: #f8fafd;
  padding: 16rem 48rem;
  background: #3d3f46;
  margin-top: 50rem;
}

.categories {
  padding-top: 55rem;
}
.categories .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories .section-heading {
  margin-bottom: 30rem;
}
.categories .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25rem 30rem;
  max-width: 100%;
  width: 100%;
}
.categories .item {
  max-width: 100%;
  position: relative;
  cursor: pointer;
}
.categories .item:hover .small-heading {
  color: #dba052;
}
.categories .item:hover .small-heading svg path {
  fill: #dba052;
}
.categories .item.big {
  grid-column: span 2;
}
.categories .item.big .item-text {
  justify-content: flex-end;
  flex-direction: column;
  padding: 30rem;
}
.categories .item-bg {
  width: 100%;
  position: relative;
  z-index: 1;
}
.categories .item-text {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
}
.categories .small-heading {
  padding: 12rem 14rem;
  background: white;
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 18rem;
  line-height: 122%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #3d3f46;
  display: flex;
  gap: 5rem;
  align-items: center;
  transition: all 0.4s ease;
}
.categories .small-heading svg {
  width: 15rem;
  height: 15rem;
}
.categories .small-heading svg path {
  transition: all 0.4s ease;
}
.categories .big-heading {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 28rem;
  line-height: 135%;
  text-transform: uppercase;
  text-align: right;
  color: #f8fafd;
  text-shadow: 0 4rem 13rem 0 rgba(0, 0, 0, 0.25);
}
.categories .big-text {
  margin-top: 8rem;
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 22rem;
  line-height: 145%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #f8fafd;
  text-shadow: 0 4rem 13rem 0 rgba(0, 0, 0, 0.25);
}

.popular {
  padding-top: 60rem;
}
.popular .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular .section-heading {
  margin-bottom: 30rem;
}
.popular .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.popular .item {
  position: relative;
  padding: 16rem 16rem 18rem 16rem;
  border: 1rem solid #fbd7a8;
}
.popular .item:hover {
  z-index: 2;
}
.popular .item:hover .add-to-card {
  max-height: 100rem;
  margin-top: 15rem;
  padding: 10rem 30rem;
}
.popular .item-img {
  width: 100%;
  height: 280rem;
  margin-bottom: 94rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular .item-btm {
  background: white;
  border: 1rem solid #fbd7a8;
  border-top: none;
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  padding: 16rem 16rem 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% + 2rem);
  transition: all 0.4s ease;
}
.popular .item-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16rem;
  line-height: 130%;
  text-align: center;
  color: #3d3f46;
}
.popular .item-kat {
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15rem;
  line-height: 120%;
  text-align: center;
  color: #929eba;
}
.popular .item-price {
  display: flex;
  align-items: flex-end;
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 24rem;
  line-height: 112%;
  color: #3d3f46;
  margin-top: 12rem;
}
.popular .item-price span {
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 120%;
  text-decoration: line-through;
  color: #929eba;
}
.popular .add-to-card {
  cursor: pointer;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13rem;
  text-transform: uppercase;
  color: #f8fafd;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 270rem;
  padding: 0 30rem;
  background: #3d3f46;
  gap: 10rem;
  margin-top: 0;
}
.popular .add-to-card svg {
  width: 22rem;
}
footer {
  position: relative;
  padding-top: 36rem;
  background: #30333a;
  margin-top: 70rem;
}
footer .container {
  padding: 0 70rem;
}
footer .footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1rem solid #465767;
  padding-bottom: 24rem;
}
footer .footer-item {
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer-item ul {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
footer .footer-item ul a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15rem;
  line-height: 100%;
  color: #acb2b9;
}
footer .item-heading {
  margin-bottom: 16rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 100%;
  color: #fbd7a8;
}
footer .footer-contacts {
  justify-content: flex-end;
}
footer .num {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 21rem;
  line-height: 105%;
  text-align: right;
  color: #f2efed;
}
footer .catalog {
  margin-top: 16rem;
  border: 1rem solid #878f99;
  padding: 12rem 32rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13rem;
  text-transform: uppercase;
  color: #878f99;
}
footer .footer-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
}
footer .logo {
  position: relative;
  width: 203rem;
}
footer .logo img {
  width: 100%;
}
footer .policy {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #acb2b9;
}
footer .footer-btm {
  background: #292b32;
  margin-top: 30rem;
}
footer .footer-btm .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24rem;
  padding: 20rem 0;
}
footer .footer-btm a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 100%;
  color: #acb2b9;
}

.card {
  box-shadow: -16rem 0 19rem -11rem rgba(56, 37, 13, 0.15);
  background: #f5f5f5;
  position: fixed;
  right: 0;
  top: 89rem;
  height: calc(100vh - 89rem);
  transition: all 0.4s ease;
  transform: translateX(100%);
  z-index: 12;
  padding: 25rem 30rem;
  width: 500rem;
}
.card.active {
  transform: translateX(0);
}
.card .card-close {
  cursor: pointer;
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: 16rem;
  right: 16rem;
}
.card .card-close svg {
  width: 100%;
}
.card .card-heading {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 16rem;
  line-height: 145%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #262628;
}
.card .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25rem;
  gap: 15rem;
}
.card .item {
  padding: 8rem;
  width: 100%;
  display: flex;
  gap: 20rem;
  transition: all 0.4s ease;
  border: 1rem solid rgba(227, 196, 155, 0);
}
.card .item:hover {
  border: 1rem solid #e3c49b;
}
.card .item img {
  width: 105rem;
  height: 105rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .info {
  width: 100%;
}
.card .info .item_heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16rem;
  line-height: 120%;
  color: #3d3f46;
}
.card .info .acticle {
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13rem;
  line-height: 130%;
  color: #878f99;
}
.card .info .prise {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 18rem;
  line-height: 112%;
  color: #3d3f46;
  margin-top: 8rem;
}
.card .info .prise span {
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 120%;
  text-decoration: line-through;
  color: #929eba;
}
.card .info .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8rem;
  min-width: 100%;
}
.card .info .size {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 130%;
  color: #878f99;
}
.card .info .size span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14rem;
  line-height: 130%;
  color: #262628;
}
.card .info .delete {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13rem;
  color: #3d3f46;
  cursor: pointer;
  transition: all 0.4s ease;
}
.card .info .delete:hover {
  color: #ff582f;
}
.card .itog {
  width: 100%;
  padding-top: 15rem;
  margin-top: 20rem;
  border-top: 1rem solid #acb2b9;
}
.card .itog .kol-tov {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15rem;
  line-height: 130%;
  color: #3d3f46;
}
.card .itog .row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.card .itog .summ {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15rem;
  line-height: 130%;
  color: #878f99;
  width: -moz-fit-content;
  width: fit-content;
}
.card .itog .line {
  flex: 1;
  border-bottom: 1rem dashed #acb2b9;
}
.card .itog .sum-num {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 20rem;
  line-height: 112%;
  color: #3d3f46;
  width: -moz-fit-content;
  width: fit-content;
}
.card .buttons {
  margin-top: 30rem;
}
.card .buttons * {
  cursor: pointer;
}
.card .buttons .go-to-card {
  padding: 10rem 62rem;
  background: #3d3f46;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13rem;
  text-transform: uppercase;
  color: #f8fafd;
  width: 100%;
}
.card .buttons .close-card {
  margin-top: 15rem;
  border: 1rem solid #3d3f46;
  background: #f5f5f5;
  padding: 10rem 62rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13rem;
  text-transform: uppercase;
  color: #3d3f46;
}

.closePupups {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(61, 63, 70, 0.24);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.closePupups.active {
  opacity: 1;
  visibility: visible;
}

.bred-crumbs {
  margin-top: 105rem;
}
.bred-crumbs .container {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.bred-crumbs .link {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 110%;
  color: #818b9e;
}
.bred-crumbs .slash {
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  font-size: 16rem;
  line-height: 125%;
  color: #e3c49b;
}
.bred-crumbs .now {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 110%;
  color: #929eba;
}

.catalog-hero {
  margin-top: 20rem;
}
.catalog-hero .heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 28rem;
  line-height: 130%;
  color: #37393f;
}
.catalog-hero .wrapper {
  display: flex;
  gap: 40rem;
  margin-top: 30rem;
}
.catalog-hero .filters {
  display: flex;
  flex-direction: column;
  max-width: 200rem;
  gap: 25rem;
}
.catalog-hero .filters .item.active .open-btn::before {
  transform: translate(-50%, -50%) rotate(0);
}
.catalog-hero .filters .item.active .list, .catalog-hero .filters .item.active .more {
  max-height: 500rem;
  overflow-y: scroll;
  margin-top: 16rem;
}
.catalog-hero .filters .item .heading {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 15rem;
  line-height: 147%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3d3f46;
  display: flex;
  align-items: center;
  gap: 10rem;
  cursor: pointer;
}
.catalog-hero .filters .item .open-btn {
  width: 24rem;
  height: 24rem;
  padding: 5rem;
  position: relative;
}
.catalog-hero .filters .item .open-btn::after {
  content: "";
  display: block;
  width: calc(100% - 10rem);
  height: 2rem;
  background: #3D3F46;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.catalog-hero .filters .item .open-btn::before {
  transition: all 0.4s ease;
  content: "";
  display: block;
  width: calc(100% - 10rem);
  height: 2rem;
  background: #3D3F46;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
}
.catalog-hero .filters .item .list {
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 0 2rem;
  transition: all 0.4s ease;
}
.catalog-hero .filters .item .list label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.catalog-hero .filters .item .list label.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}
.catalog-hero .filters .item .list label p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  color: #3d3f46;
}
.catalog-hero .filters .item .list label input {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
.catalog-hero .filters .item .list label input:checked + .list-item-visual {
  background: #dba052;
}
.catalog-hero .filters .item .list .list-item-visual {
  width: 20rem;
  height: 20rem;
  border: 1rem solid #C7CACF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.catalog-hero .filters .item .list .list-item-visual svg {
  width: 90%;
}
.catalog-hero .filters .item .more {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15rem;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #3d3f46;
  background: none;
  margin-top: 0;
  transition: all 0.4s ease;
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
}
.catalog-hero .filters .item .more.disable {
  display: none;
}
.catalog-hero .akcia {
  border: 1rem solid #dba052;
  padding: 12rem 18rem;
  display: flex;
  align-items: center;
  width: 100%;
}
.catalog-hero .akcia svg {
  width: 25rem;
  margin-right: 4rem;
}
.catalog-hero .akcia p {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 15rem;
  line-height: 147%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3d3f46;
}
.catalog-hero .akcia label input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.catalog-hero .akcia label input:checked + .visual::after {
  left: calc(100% - 2rem);
  transform: translateX(-100%) translateY(-50%);
}
.catalog-hero .akcia label .visual {
  margin-left: 38rem;
  border: 1.1rem solid #dfd9d5;
  border-radius: 165rem;
  width: 38rem;
  height: 22rem;
  background: #f8fafd;
  position: relative;
  transition: all 0.4s ease;
}
.catalog-hero .akcia label .visual::after {
  content: "";
  display: block;
  position: absolute;
  width: 16rem;
  height: 16rem;
  background: #F0D3AC;
  border-radius: 50%;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}
.catalog-hero .price .top {
  display: flex;
}
.catalog-hero .price-mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  max-width: 100%;
}
.catalog-hero .price-mid input {
  padding: 4rem 8rem;
  min-height: 25rem;
  background: #f2efed;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  color: #262628;
  max-width: 92rem;
}
.catalog-hero .price-btm {
  overflow: hidden;
  height: 20rem;
  margin-top: 20rem;
  display: flex;
  align-items: center;
}
.catalog-hero .line {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.catalog-hero .line::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ACB2B9;
  width: 100%;
  height: 1rem;
}
.catalog-hero .line .start {
  border: 2rem solid #DBA052;
  border-radius: 50%;
  width: 14rem;
  height: 14rem;
  background: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}
.catalog-hero .line .start::after {
  content: "";
  display: block;
  background: #dba052;
  width: 300rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(11rem);
}
.catalog-hero .line .end {
  border: 2rem solid #DBA052;
  border-radius: 50%;
  width: 14rem;
  height: 14rem;
  background: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(183rem);
  z-index: 3;
  cursor: pointer;
}
.catalog-hero .line .end::after {
  content: "";
  display: block;
  background: #ACB2B9;
  width: 300rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(12rem);
}
.catalog-hero .items-wrapper {
  width: 100%;
}
.catalog-hero .items-wrapper .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog-hero .kol-vo-tov {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15rem;
  color: #3d3f46;
}
.catalog-hero .sort-block {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.catalog-hero .sort-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15rem;
  color: #3d3f46;
}
.catalog-hero .select-item {
  position: relative;
}
.catalog-hero .select-item.active .select-item-btn {
  max-height: 500rem;
  overflow-y: scroll;
  padding: 10rem 5rem;
}
.catalog-hero .select-item-top {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 4rem 8rem;
  min-height: 25rem;
  background: #f2efed;
  cursor: pointer;
}
.catalog-hero .select-item-top p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  text-align: center;
  color: #262628;
}
.catalog-hero .select-item-top svg {
  max-width: 12rem;
}
.catalog-hero .select-item-btn {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  background: #f2efed;
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  transition: all 0.4s ease;
}
.catalog-hero .select-item-btn p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  text-align: center;
  color: #262628;
  padding: 5rem 0;
  border-bottom: 1rem solid #262628;
  cursor: pointer;
}
.catalog-hero .select-item-btn p:last-child {
  border-bottom: none;
}
.catalog-hero .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  margin-top: 16rem;
}
.catalog-hero .tags .item {
  border: 1rem solid #c7cacf;
  padding: 4rem 12rem;
  background: white;
  transition: all 0.4s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15rem;
  text-align: center;
  color: #3d3f46;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.catalog-hero .tags .item svg {
  width: 15rem;
  cursor: pointer;
}
.catalog-hero .tags .item svg path {
  transition: all 0.4s ease;
}
.catalog-hero .tags .item svg:hover path {
  stroke: #DBA052;
}
.catalog-hero .tags .item:hover {
  background: #f5f5f5;
}
.catalog-hero .main-wrapper {
  display: grid;
  margin-top: 25rem;
  grid-template-columns: repeat(4, 1fr);
}
.catalog-hero .main-wrapper .item {
  position: relative;
  padding: 16rem 16rem 18rem 16rem;
  border: 1rem solid #fbd7a8;
}
.catalog-hero .main-wrapper .item.disable {
  display: none;
}
.catalog-hero .main-wrapper .item:hover {
  z-index: 2;
}
.catalog-hero .main-wrapper .item:hover .add-to-card {
  max-height: 100rem;
  margin-top: 15rem;
  padding: 10rem 30rem;
}
.catalog-hero .main-wrapper .item-img {
  width: 100%;
  height: 280rem;
  margin-bottom: 94rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog-hero .main-wrapper .item-btm {
  background: white;
  border: 1rem solid #fbd7a8;
  border-top: none;
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  padding: 16rem 16rem 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% + 2rem);
  transition: all 0.4s ease;
}
.catalog-hero .main-wrapper .item-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16rem;
  line-height: 130%;
  text-align: center;
  color: #3d3f46;
}
.catalog-hero .main-wrapper .item-kat {
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15rem;
  line-height: 120%;
  text-align: center;
  color: #929eba;
}
.catalog-hero .main-wrapper .item-price {
  display: flex;
  align-items: flex-end;
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 24rem;
  line-height: 112%;
  color: #3d3f46;
  margin-top: 12rem;
}
.catalog-hero .main-wrapper .item-price span {
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  line-height: 120%;
  text-decoration: line-through;
  color: #929eba;
}
.catalog-hero .main-wrapper .add-to-card {
  cursor: pointer;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13rem;
  text-transform: uppercase;
  color: #f8fafd;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 270rem;
  padding: 0 30rem;
  background: #3d3f46;
  gap: 10rem;
  margin-top: 0;
}
.catalog-hero .main-wrapper .add-to-card svg {
  width: 22rem;
}
.catalog-hero .paginations {
  display: flex;
  align-items: center;
  gap: 6rem;
  max-width: 100%;
  justify-content: center;
  margin-left: 200rem;
  margin-top: 20rem;
}
.catalog-hero .paginations .prev, .catalog-hero .paginations .next {
  padding: 8rem 12rem;
  cursor: pointer;
}
.catalog-hero .paginations .prev:hover svg path, .catalog-hero .paginations .next:hover svg path {
  fill: #dba052;
}
.catalog-hero .paginations .prev svg {
  transform: rotate(180deg);
}
.catalog-hero .paginations .prev svg path {
  transition: all 0.4s ease;
}
.catalog-hero .paginations .list {
  display: flex;
  gap: 6rem;
}
.catalog-hero .paginations .item {
  padding: 5rem 15rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16rem;
  line-height: 138%;
  color: #2c343d;
  border-bottom: 1rem solid rgba(219, 160, 82, 0);
  transition: all 0.4s ease;
  cursor: pointer;
}
.catalog-hero .paginations .item:hover {
  background: #f2efed;
}
.catalog-hero .paginations .item.active {
  color: #dba052;
  border-bottom: 1rem solid #dba052;
}
.card-hero {
  margin-top: 25rem;
}
.card-hero .container {
  display: flex;
  gap: 25rem;
}
.card-hero .rard-slider {
  width: 100%;
  max-width: 882rem;
  display: flex;
  gap: 25rem;
}
.card-hero .card-slider-slide-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  position: relative;
}
.card-hero .card-slider-slide-wrapper .item {
  position: relative;
}
.card-hero .card-slider-slide-wrapper .item::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(174, 108, 21, 0);
  content: "";
  display: block;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.card-hero .card-slider-slide-wrapper .item:hover::after {
  background: rgba(174, 108, 21, 0.2745098039);
}
.card-hero .card-slider-slide-wrapper .item img {
  width: 100rem;
  height: 100rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.card-hero .card-slider-main {
  width: 100%;
  max-width: 760rem;
}
.card-hero .card-slider-main img {
  width: 100%;
  height: 100%;
  max-width: 760rem;
  max-height: 760rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-hero .card-info {
  padding: 20rem;
  width: 100%;
  max-width: 634rem;
}
.card-hero .heading h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22rem;
  line-height: 130%;
  color: #37393f;
}
.card-hero .heading p {
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 130%;
  color: #37393f;
}
.card-hero .price {
  margin-top: 24rem;
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 28rem;
  line-height: 112%;
  color: #3d3f46;
}
.card-hero .price span {
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 20rem;
  line-height: 120%;
  text-decoration: line-through;
  color: #929eba;
  margin-left: 10rem;
}
.card-hero .buttons {
  display: flex;
  gap: 20rem;
  margin-top: 25rem;
}
.card-hero .add-to-card {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10rem 0;
  background: #3d3f46;
  width: 100%;
  max-width: 320rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13rem;
  text-transform: uppercase;
  color: #f8fafd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.card-hero .add-to-card svg {
  width: 20rem;
}
.card-hero .buy-now {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13rem;
  text-transform: uppercase;
  color: #3d3f46;
  border: 1rem solid #3d3f46;
  padding: 10rem 62rem;
  background: none;
}
.card-hero .dostavka {
  margin-top: 20rem;
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 14rem;
  line-height: 145%;
  text-transform: uppercase;
  color: #3d3f46;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 0rem;
  background: #f5f5f5;
  gap: 10rem;
}
.card-hero .characts {
  padding: 25rem 0;
  margin: 30rem 0;
  border-top: 1rem solid #c7cacf;
  border-bottom: 1rem solid #c7cacf;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.card-hero .characts .item {
  display: flex;
  justify-content: space-between;
}
.card-hero .characts .item .line {
  flex: 1;
  border-bottom: 1rem dashed #acb2b9;
}
.card-hero .characts_heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15rem;
  line-height: 130%;
  color: #878f99;
}
.card-hero .characts_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15rem;
  line-height: 130%;
  color: #262628;
}
.card-hero .deskription {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 130%;
  color: #37393f;
}

.paymentPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  background: white;
  padding: 35rem 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 12;
}
.paymentPopup.active {
  opacity: 1;
  visibility: visible;
}
.paymentPopup .payment-popup-close {
  position: absolute;
  top: 15rem;
  right: 15rem;
  width: 20rem;
  cursor: pointer;
}
.paymentPopup .heading {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 18rem;
  line-height: 145%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #3d3f46;
  width: 100%;
  text-align: center;
}
.paymentPopup .row {
  display: flex;
  gap: 25rem;
  margin-top: 25rem;
}
.paymentPopup .row .item {
  padding: 10rem 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paymentPopup .row .item.applepay {
  background: #007aff;
}
.paymentPopup .row .item.gpay {
  background: #262628;
}
.paymentPopup .row .item.paypal {
  background: #ffc439;
}
.paymentPopup .row.catds {
  margin-top: 20rem;
  gap: 12rem;
  background: #f5f5f5;
  width: -moz-fit-content;
  width: fit-content;
}
.paymentPopup .or {
  display: flex;
  width: 100%;
  margin-top: 30rem;
  align-items: center;
  gap: 10rem;
  margin-bottom: 25rem;
}
.paymentPopup .or p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  text-transform: uppercase;
  text-align: center;
  color: #63656b;
}
.paymentPopup .or .line {
  flex: 1;
  height: 1rem;
  background: #ACB2B9;
}
.paymentPopup .go-to-cart {
  border: 1rem solid #3d3f46;
  padding: 10rem 60rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13rem;
  text-transform: uppercase;
  color: #3d3f46;
  background: #f5f5f5;
  margin-top: 25rem;
}

.close-popups {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: rgba(61, 63, 70, 0.24);
  width: 1000vw;
  height: 100vh;
  z-index: 11;
  transition: all 0.4s ease;
}
.close-popups.active {
  opacity: 1;
  visibility: visible;
}

label {
  cursor: pointer;
}

.cart-hero {
  min-height: calc(100vh - 500rem);
}
.cart-hero .container {
  display: flex;
  gap: 60rem;
}
.cart-hero .cart-items {
  width: 1017rem;
}
.cart-hero .cart-items .top {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15rem;
  margin-bottom: 20rem;
}
.cart-hero .cart-items .select-all {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.cart-hero .cart-items .select-all input:checked + .visual {
  background: #dba052;
}
.cart-hero .cart-items .select-all input:checked + .visual svg {
  opacity: 1;
}
.cart-hero .cart-items .select-all p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  color: #3d3f46;
}
.cart-hero .cart-items .select-all .visual {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  border: 1rem solid #c7cacf;
}
.cart-hero .cart-items .select-all .visual svg {
  opacity: 0;
  transition: all 0.4s ease;
}
.cart-hero .cart-items .remove-selected {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.cart-hero .cart-items .remove-selected svg {
  width: 18rem;
}
.cart-hero .cart-items .remove-selected p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  color: #3d3f46;
}
.cart-hero .wrapper {
  display: flex;
  flex-direction: column;
  gap: 25rem;
}
.cart-hero .item {
  display: flex;
  border: 1rem solid #e9dbc8;
  padding: 16rem;
}
.cart-hero .selected {
  margin-right: 10rem;
}
.cart-hero .selected input:checked + .visual {
  background: #dba052;
}
.cart-hero .selected input:checked + .visual svg {
  opacity: 1;
}
.cart-hero .selected .visual {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  border: 1rem solid #c7cacf;
}
.cart-hero .selected .visual svg {
  opacity: 0;
  transition: all 0.4s ease;
}
.cart-hero .img {
  margin-right: 20rem;
  max-width: 100rem;
}
.cart-hero .img img {
  width: 100%;
}
.cart-hero .infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.cart-hero .infos-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18rem;
}
.cart-hero .heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15rem;
  line-height: 125%;
  color: #37393f;
  margin-bottom: 2rem;
}
.cart-hero .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13rem;
  line-height: 130%;
  color: #878f99;
}
.cart-hero .price {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 20rem;
  line-height: 112%;
  color: #3d3f46;
  margin-bottom: 4rem;
}
.cart-hero .sale-prise {
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 120%;
  text-decoration: line-through;
  color: #929eba;
  width: 100%;
  text-align: right;
}
.cart-hero .infos-btm {
  background: #f5f5f5;
  padding: 6rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.cart-hero .infos-btm:last-child {
  margin-bottom: 0;
}
.cart-hero .infos-btm-l {
  display: flex;
  align-items: center;
  gap: 30rem;
}
.cart-hero .kol-vo {
  display: flex;
  align-items: center;
}
.cart-hero .kol-vo .heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 130%;
  color: #3d3f46;
  margin-right: 15rem;
}
.cart-hero .input {
  display: flex;
  align-items: center;
}
.cart-hero .input input {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15rem;
  line-height: 130%;
  text-align: center;
  color: #262628;
  padding: 0 10rem;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 25rem;
  background: none;
}
.cart-hero .input .minus {
  cursor: pointer;
}
.cart-hero .input .pluss {
  cursor: pointer;
}
.cart-hero .size {
  display: flex;
  align-items: center;
}
.cart-hero .size .heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 130%;
  color: #3d3f46;
  margin-right: 15rem;
}
.cart-hero .size .size-num {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15rem;
  line-height: 130%;
  text-align: center;
  color: #262628;
}
.cart-hero .size svg {
  width: 20rem;
  margin-left: 4rem;
}
.cart-hero .infos-btm-delete {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  color: #3d3f46;
}
.cart-hero .infos-btm-delete svg {
  width: 20rem;
  margin-right: 5rem;
}
.cart-hero .prises {
  flex: 1;
}
.cart-hero .prises .top-wrapper {
  background: #f5f5f5;
  padding: 16rem 24rem;
}
.cart-hero .prises .itog {
  margin-bottom: 30rem;
  display: flex;
  align-items: flex-end;
}
.cart-hero .prises .itog .heading {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 18rem;
  line-height: 145%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #3d3f46;
}
.cart-hero .prises .itog .line {
  border-bottom: 1rem dashed #acb2b9;
  flex: 1;
}
.cart-hero .prises .itog .num {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 22rem;
  line-height: 112%;
  color: #3d3f46;
}
.cart-hero .prises .summ {
  margin-bottom: 8rem;
}
.cart-hero .prises .top-wrapper-item {
  display: flex;
  align-items: flex-end;
}
.cart-hero .prises .top-wrapper-item .heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15rem;
  line-height: 130%;
  color: #3d3f46;
}
.cart-hero .prises .top-wrapper-item .num {
  font-family: "Evolventa", sans-serif;
  font-weight: 700;
  font-size: 16rem;
  line-height: 112%;
  color: #3d3f46;
}
.cart-hero .prises .top-wrapper-item .line {
  flex: 1;
  border-bottom: 1rem dashed #acb2b9;
}
.cart-hero .prises .border-btm {
  padding-bottom: 24rem;
  border-bottom: 1rem solid #acb2b9;
  margin-bottom: 25rem;
}
.cart-hero .prises .promokod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1rem solid #dba052;
  padding: 12rem;
  margin-bottom: 50rem;
}
.cart-hero .prises .promokod input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15rem;
  line-height: 130%;
  color: #3d3f46;
  border: none;
  background: none;
}
.cart-hero .prises .promokod label input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.cart-hero .prises .promokod label input:checked + .visual::after {
  left: calc(100% - 2rem);
  transform: translateX(-100%) translateY(-50%);
}
.cart-hero .prises .promokod label .visual {
  margin-left: 38rem;
  border: 1.1rem solid #dfd9d5;
  border-radius: 165rem;
  width: 38rem;
  height: 22rem;
  background: #f8fafd;
  position: relative;
  transition: all 0.4s ease;
}
.cart-hero .prises .promokod label .visual::after {
  content: "";
  display: block;
  position: absolute;
  width: 16rem;
  height: 16rem;
  background: #F0D3AC;
  border-radius: 50%;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}
.cart-hero .prises .oformit {
  padding: 10rem 62rem;
  background: #3d3f46;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13rem;
  text-transform: uppercase;
  color: #f8fafd;
  width: 100%;
  margin-bottom: 10rem;
}
.cart-hero .prises .policy {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12rem;
  line-height: 130%;
  color: #3d3f46;
}
.cart-hero .prises .policy a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12rem;
  line-height: 130%;
  color: #3d3f46;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.cart-hero .prises .faq-wrapper {
  padding: 16rem 24rem;
  background: #f5f5f5;
}
.cart-hero .prises .faq-wrapper .heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16rem;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: #3d3f46;
  margin-bottom: 10rem;
}
.cart-hero .prises .faq-wrapper-item {
  display: flex;
  align-items: flex-end;
}
.cart-hero .prises .faq-wrapper-item .line {
  border-bottom: 1rem dashed #acb2b9;
  flex: 1;
}
.cart-hero .prises .faq-wrapper-item .heading {
  display: flex;
  align-items: center;
}
.cart-hero .prises .faq-wrapper-item .heading p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 130%;
  color: #3d3f46;
}
.cart-hero .prises .faq-wrapper-item .heading svg {
  width: 20rem;
  margin-right: 8rem;
}
.cart-hero .prises .faq-wrapper-item .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15rem;
  line-height: 112%;
  color: #3d3f46;
}/*# sourceMappingURL=style.css.map */